SynergyServiceTest/Service References/SynServer/SynergyServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SynergyServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49480/SynergyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49480/SynergyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49480/SynergyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SynergyWcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SynergyServer_GetAddressForUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressForUpdate" />
  </wsdl:message>
  <wsdl:message name="SynergyServer_GetAddressForUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressForUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SynergyServer_GetAllCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomers" />
  </wsdl:message>
  <wsdl:message name="SynergyServer_GetAllCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="SynergyServer_GetContactForUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContactForUpdate" />
  </wsdl:message>
  <wsdl:message name="SynergyServer_GetContactForUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactForUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SynergyServer_GetCustomerAddresses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerAddresses" />
  </wsdl:message>
  <wsdl:message name="SynergyServer_GetCustomerAddresses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerAddressesResponse" />
  </wsdl:message>
  <wsdl:message name="SynergyServer_GetCustomerContacts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerContacts" />
  </wsdl:message>
  <wsdl:message name="SynergyServer_GetCustomerContacts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerContactsResponse" />
  </wsdl:message>
  <wsdl:message name="SynergyServer_GetCustomerForUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerForUpdate" />
  </wsdl:message>
  <wsdl:message name="SynergyServer_GetCustomerForUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerForUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SynergyServer_SetLogicals_InputMessage">
    <wsdl:part name="parameters" element="tns:SetLogicals" />
  </wsdl:message>
  <wsdl:message name="SynergyServer_SetLogicals_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetLogicalsResponse" />
  </wsdl:message>
  <wsdl:message name="SynergyServer_UpdateContact_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContact" />
  </wsdl:message>
  <wsdl:message name="SynergyServer_UpdateContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContactResponse" />
  </wsdl:message>
  <wsdl:message name="SynergyServer_UpdateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="SynergyServer_UpdateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="SynergyServer">
    <wsdl:operation name="GetAddressForUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/SynergyServer/GetAddressForUpdate" message="tns:SynergyServer_GetAddressForUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SynergyServer/GetAddressForUpdateResponse" message="tns:SynergyServer_GetAddressForUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/SynergyServer/GetAllCustomers" message="tns:SynergyServer_GetAllCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SynergyServer/GetAllCustomersResponse" message="tns:SynergyServer_GetAllCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContactForUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/SynergyServer/GetContactForUpdate" message="tns:SynergyServer_GetContactForUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SynergyServer/GetContactForUpdateResponse" message="tns:SynergyServer_GetContactForUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerAddresses">
      <wsdl:input wsaw:Action="http://tempuri.org/SynergyServer/GetCustomerAddresses" message="tns:SynergyServer_GetCustomerAddresses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SynergyServer/GetCustomerAddressesResponse" message="tns:SynergyServer_GetCustomerAddresses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerContacts">
      <wsdl:input wsaw:Action="http://tempuri.org/SynergyServer/GetCustomerContacts" message="tns:SynergyServer_GetCustomerContacts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SynergyServer/GetCustomerContactsResponse" message="tns:SynergyServer_GetCustomerContacts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerForUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/SynergyServer/GetCustomerForUpdate" message="tns:SynergyServer_GetCustomerForUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SynergyServer/GetCustomerForUpdateResponse" message="tns:SynergyServer_GetCustomerForUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetLogicals">
      <wsdl:input wsaw:Action="http://tempuri.org/SynergyServer/SetLogicals" message="tns:SynergyServer_SetLogicals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SynergyServer/SetLogicalsResponse" message="tns:SynergyServer_SetLogicals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <wsdl:input wsaw:Action="http://tempuri.org/SynergyServer/UpdateContact" message="tns:SynergyServer_UpdateContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SynergyServer/UpdateContactResponse" message="tns:SynergyServer_UpdateContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/SynergyServer/UpdateCustomer" message="tns:SynergyServer_UpdateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SynergyServer/UpdateCustomerResponse" message="tns:SynergyServer_UpdateCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_SynergyServer" type="tns:SynergyServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAddressForUpdate">
      <soap:operation soapAction="http://tempuri.org/SynergyServer/GetAddressForUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <soap:operation soapAction="http://tempuri.org/SynergyServer/GetAllCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactForUpdate">
      <soap:operation soapAction="http://tempuri.org/SynergyServer/GetContactForUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerAddresses">
      <soap:operation soapAction="http://tempuri.org/SynergyServer/GetCustomerAddresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerContacts">
      <soap:operation soapAction="http://tempuri.org/SynergyServer/GetCustomerContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerForUpdate">
      <soap:operation soapAction="http://tempuri.org/SynergyServer/GetCustomerForUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLogicals">
      <soap:operation soapAction="http://tempuri.org/SynergyServer/SetLogicals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <soap:operation soapAction="http://tempuri.org/SynergyServer/UpdateContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap:operation soapAction="http://tempuri.org/SynergyServer/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SynergyServer">
    <wsdl:port name="BasicHttpBinding_SynergyServer" binding="tns:BasicHttpBinding_SynergyServer">
      <soap:address location="http://localhost:49480/SynergyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>