SynergyServiceTest/Service References/SynServer/SynergyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49480/SynergyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SynergyWcfService" />
  <xs:element name="GetAddressForUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
        <xs:element minOccurs="0" name="AddressID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressForUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SynergyWcfService" minOccurs="0" name="GetAddressForUpdateResult" type="q1:Method_status" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SynergyWcfService" minOccurs="0" name="Address" nillable="true" type="q2:Address" />
        <xs:element minOccurs="0" name="GRFA" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SynergyWcfService" minOccurs="0" name="Customers" nillable="true" type="q3:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactForUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
        <xs:element minOccurs="0" name="ContactID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactForUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SynergyWcfService" minOccurs="0" name="GetContactForUpdateResult" type="q4:Method_status" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SynergyWcfService" minOccurs="0" name="Contact" nillable="true" type="q5:Contact" />
        <xs:element minOccurs="0" name="GRFA" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerAddresses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SynergyWcfService" minOccurs="0" name="Addresses" nillable="true" type="q6:ArrayOfAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SynergyWcfService" minOccurs="0" name="Contacts" nillable="true" type="q7:ArrayOfContact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerForUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerForUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SynergyWcfService" minOccurs="0" name="GetCustomerForUpdateResult" type="q8:Method_status" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SynergyWcfService" minOccurs="0" name="Customer" nillable="true" type="q9:Customer" />
        <xs:element minOccurs="0" name="GRFA" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLogicals">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLogicalsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SynergyWcfService" minOccurs="0" name="Contact" nillable="true" type="q10:Contact" />
        <xs:element minOccurs="0" name="GRFA" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SynergyWcfService" minOccurs="0" name="UpdateContactResult" type="q11:Method_status" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SynergyWcfService" minOccurs="0" name="Contact" nillable="true" type="q12:Contact" />
        <xs:element minOccurs="0" name="GRFA" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SynergyWcfService" minOccurs="0" name="Customer" nillable="true" type="q13:Customer" />
        <xs:element minOccurs="0" name="GRFA" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SynergyWcfService" minOccurs="0" name="UpdateCustomerResult" type="q14:Method_status" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SynergyWcfService" minOccurs="0" name="Customer" nillable="true" type="q15:Customer" />
        <xs:element minOccurs="0" name="GRFA" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>